* {
    margin:0px;
    padding:0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:cyan;

}

.content {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}