* {
    margin:0px;
    padding:0px;
}


body {
    font-family: 'Mulish';
}

h1 {
    background-color:black;
    text-align: center;
    color:#eee;
    padding:5px;
}

p {
    color:white;
}

.content {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #222;
}

img {
    width: 100%;
    height: auto;
}

.thumbnail {
    width:100px;
    height:160px;
}

figure {
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

figure a {
    text-decoration: none;
    color: #eee;
    font-size: 1.25em;
    margin:10px;

}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.pages li {
    list-style-type: none;
    margin: 10px;
    text-align: center;
}
.pages a {
    text-decoration: none;
    color:white;
    padding: 5px;
    background-color:#555;

}

.chapter-header {

    text-align: center;
}

.chapter-nav-holder {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.chapter-nav-holder a {
    text-decoration: none;
    margin:5px;
    color:#ddd;
}

@media only screen and (min-width: 500px) {
    .thumbnail {
        width: 250px;
        height:400px;
    }

    .chapters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    figure {
        display: block;
        text-align: center;
    }

}