{% extends 'base.html' %}

{%block title%}Your Library{%endblock title%}

{%block header%}
    <h1>Library</h1>   
    <a id="upload" href="/library/upload">Upload</a>
    <a href="/management">Manage</a>
{%endblock header%}
    
{% block content %}
<div class="chapters">
    {% for comic, thumbnail in series_dict.items() %}
    <figure>
        <a href="/library/{{comic}}"><img class="thumbnail" src="{{thumbnail }}" alt=""></a>
        <figcaption><a href="/library/{{comic}}">{{comic}}</a></figcaption>

       
         

    </figure>
    
    {% endfor %}
</div>
{%endblock content%}

    
