{%extends 'base.html'%}


{% block title%}
Upload
{% endblock title%}

{% block header %}
<h1>Upload</h1>
<a href="/library/">Go back to library</a>
{% endblock header %}

{% block content%}
<form action="upload" method="POST" enctype="multipart/form-data">
    <label for="comic">Upload a comic</label>
    <input type="file" name="comic" id="comic">
    <select name="folder" id="folder">
        <option value="uncategorized">uncategorized</option>
        {% for comic in comics %}
        <option value="{{comic}}">{{comic}}</option>
        {% endfor %}

    </select>

    <input type="submit" value="Submit">
</form>

{% endblock content%}

